# c2systems

In [8]:
import requests
import json
import pandas as pd
GRAPHQL_URL = 'http://54.166.100.68:8080/v1/graphql'

In [71]:
body = """
query MyQuery {
  c2systems {
    systemid
    added
    alive
    cash
    closedpl
    equity
    openpositionspl
    startingcash
    systemname
  }
}
"""
r = requests.post(GRAPHQL_URL, json={'query': body})
json_data = json.loads(r.text)
df = pd.DataFrame(json_data["data"]["c2systems"])
display(df)

,systemid,added,alive,cash,closedpl,equity,openpositionspl,startingcash,systemname
0,13202557,1108665278,1,606065.0,750733.0,-66866.703125,-66866.703125,10000,extreme-os
1,21522544,1149966323,1,23413.5,13617.0,-1268.699951,-1268.699951,10000,no longer trading
2,22906062,1159955874,1,285797.0,63812.0,18201.000000,18201.000000,201600,4Trend only ETF
3,24633877,1169315234,1,-32657.0,-132657.0,0.000000,0.000000,100000,S E L E K T I V E -FX-
4,27363168,1185981750,1,32798.0,12798.0,0.000000,0.000000,20000,NPOG
...,...,...,...,...,...,...,...,...,...
8067,138619603,1639756408,1,101155.0,1155.0,-200.000000,-200.000000,100000,Patience with
8068,138640253,1640016012,1,27111.0,7111.0,0.000000,0.000000,20000,Options Profit Maker
8069,138644172,1640031226,1,15496.5,0.0,3577.649902,3577.649902,50000,The Daily Candle Swing
8070,138655709,1640110982,1,2.5,0.0,902.119995,902.119995,30000,Seeking Value maximum
8071,138708232,1640588324,1,101417.0,1417.0,-3630.679932,-4437.500000,100000,Ai Commodities

In [75]:
body = """
{
  c2systems (where: {systemid: {_eq: "13202557"}}) {
    systemid
    added
    alive
    cash
    closedpl
    equity
    openpositionspl
    startingcash
    systemname
  }
}
"""
r = requests.post(GRAPHQL_URL, json={'query': body})
json_data = json.loads(r.text)
# print(json_data)
df = pd.DataFrame(json_data["data"]["c2systems"])
display(df)

,systemid,added,alive,cash,closedpl,equity,openpositionspl,startingcash,systemname
0,13202557,1108665278,1,606065,750733,-66866.703125,-66866.703125,10000,extreme-os

In [79]:
body = """
query MyQuery {
  c2systems (where: {systemid: {_in: [125624499, 136287221,133472881]}}) {
    systemid
    added
    alive
    cash
    closedpl
    equity
    openpositionspl
    startingcash
    systemname
  }
}
"""
r = requests.post(GRAPHQL_URL, json={'query': body})
json_data = json.loads(r.text)
# print(json_data)
df = pd.DataFrame(json_data["data"]["c2systems"])
display(df)

,systemid,added,alive,cash,closedpl,equity,openpositionspl,startingcash,systemname
0,125624499,1570161254,1,106321.000000,73921,0.000000,0.000000,32400,dow m
1,133472881,1611125974,1,261450.000000,211450,-2089.770020,-3282.659912,50000,DAILY E MINI
2,136287221,1625151946,1,28671.400391,7917,933.390015,933.390015,50000,ETF hunter